.main{
    padding-block: 3vw;
    margin: 1px solid black;

}
.container{
    padding-inline: 15vw;
    margin: 1px solid black;
}
.recipes{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;

}